* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

/* Nav Menu */

.side-nav {
    display: grid;
    justify-items: center;
    background-color: #0C0C0E;
    width: 100px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    transition: transform .3s ease-in-out;
    padding: 20px;
}

.logo {
    color: white;
}

.nav-menu {
    list-style: none;
    padding: 0;
    display: grid;
    justify-items: center;
    gap: 20px;
}

li a {
    text-decoration: none;
    color: white;
}

.menu-toggle {
    display: none;
    position: fixed;
    top: 15px;
    left: 15px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #202123;
    color: white;
}

.main-content {
    margin-left: 100px;
    width: calc(100% - 100px);
    transition: margin-lef .3 ease-in-out;
}

@media screen and (max-width: 768px) {
    .side-nav {
        transform: translateX(-100%);
    }

    .menu-toggle {
        display: block;
    }

    .side-nav.active {
        transform: translateX(0);
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }
}

/* Home Section */

.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(images/sep09.jpg) center/cover no-repeat;
}

.home-card h1 {
    color: white;
}

.titles {
    box-sizing: content-box;
    display: flex;
    height: 30px;
    justify-content: center;
    /* padding: 50px 50px; */
    /* box-shadow: 0 20px rgba(0, 0, 0, .2); */
}

.words {
    overflow: hidden;
}

span {
    display: block;
    height: 100%;
    font-size: 24px;
    color: orangered;
    font-weight: bold;
    text-align: center;
    animation: spin_words 6s infinite;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.socials img {
    width: 30px;
}

@keyframes spin_words {
    10% {
        transform: translateY(-112%);
    }

    25% {
        transform: translateY(-100%);
    }

    35% {
        transform: translateY(-212%);
    }

    50% {
        transform: translateY(-200%);
    }
}

/* About Section */

.about-section {
    height: 100vh;
    background-color: sienna;
}

.about-section h1 {
    padding: 60px 140px;
    text-align: center;
}

.about-card {
    display: flex;
    justify-content: center;
}

.about-info {
    background-color: blanchedalmond;
    width: 60%;
}
